hr {
    background-color:rgb(238, 238, 238);
}

.jobdesc {
    height: 70px;
}

.card {
    width: 200px;
}

.card-img-top {
    max-width: 200px;
    object-fit: cover;
}

.card-title {
    height: 50px;
}